{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/chat/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-2 ">
            <table  class="table">
                <tbody>
                <tr class="contact">
                    <td class="align-middle status">
                        <div class=" online"></div>
                    </td>
                    <td class="align-middle avatar">
                        <span>
                            <img src="http://wallpaperscraft.ru/image/dzhordzh_kluni_akter_ulybka_pidzhak_muzhchina_sedovolosyj_98903_300x300.jpg" class="img-responsive" >
                        </span>
                    </td>
                    <td class="align-middle col-xs text-center">
                        <span class="font-weight-bold">Jennifer Hong</span>
                    </td>
                </tr>
                <tr class="contact">
                    <td class="align-middle status">
                        <div class=" offline"></div>
                    </td>
                    <td class="align-middle avatar">
                        <span>
                            <img src="http://wallpaperscraft.ru/image/dzhordzh_kluni_akter_ulybka_pidzhak_muzhchina_sedovolosyj_98903_300x300.jpg" class="img-responsive" >
                        </span>
                    </td>
                    <td class="align-middle col-xs text-center">
                        <span class="font-weight-bold">Jennifer Hong</span>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>


        <div class="col-xs-10">
            <div class="message-list">
                {% for item in items %}
                    <div class="row my message">
                        <div class="col-xs-1 avatar">
                            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQDWQyBo2yABb-H1iiMUm33OAIU3nCHV6X8T9PT_DL-1_ARMWA4" class="img-responsive ">
                        </div>
                        <div class="col-xs-10">
                            <div class="row">
                                <div class="col-xs-10 text rounded">
                                    <span>{{ item.text }}</span>
                                </div>
                                <div class="col-xs-2"></div>
                            </div>
                        </div>
                        <div class="col-xs-1 date">
                            19:20
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-xs-12 ">
                {% if messageForm is defined %}
                    {{ form_start(messageForm, {'action': path('v1_post_message', {'_format' : 'json'}), 'attr': {'class' : 'message-form'}}) }}
                    <div class="form-group col-xs-11">
                        {{ form_widget(messageForm.text, {'attr' : {'rows' : 5, 'class' : 'form-control'}}) }}
                    </div>
                    <div class="col-xs-1">
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                    {{ form_end(messageForm) }}
                {% endif %}
            </div>
        </div>

    </div>

    {%  verbatim %}
        <script id="tmpl-message-list" type="x-tmpl-mustache">
        {{#items}}
            <div class="row my message">
                <div class="col-xs-1 avatar">
                    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQDWQyBo2yABb-H1iiMUm33OAIU3nCHV6X8T9PT_DL-1_ARMWA4" class="img-responsive ">
                </div>
                <div class="col-xs-10">
                    <div class="row">
                        <div class="col-xs-10 text rounded">
                            <span>{{ text }}</span>
                        </div>
                        <div class="col-xs-2"></div>
                    </div>
                </div>
                <div class="col-xs-1 date">
                    19:20
                </div>
            </div>
        {{/items}}
        </script>
    {% endverbatim %}

{% endblock %}





{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/js/chat/*'
    '@AppBundle/Resources/public/js/jquery.slimscroll.min.js'
    '@AppBundle/Resources/public/js/mustache.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
