{% trans_default_domain 'FOSUserBundle' %}


<div class="container">
    <div class="omb_login">
        <h3 class="omb_authTitle">Регистрация</h3>



        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register omb_loginForm'}}) }}

                    {{ form_errors(form.email) }}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        {{ form_widget(form.email, {'attr' : {'class' : 'form-control', 'placeholder' : 'E-mail'}}) }}
                    </div>
                    <br>

                    {{ form_errors(form.username) }}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope "></i></span>
                        {{ form_widget(form.username, {'attr' : {'class' : 'form-control', 'placeholder' : 'Логин'}}) }}
                    </div>
                    <br>

                    {{ form_errors(form.plainPassword.first) }}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        {{ form_widget(form.plainPassword.first, {'attr' : {'class' : 'form-control', 'placeholder' : 'Пароль'}}) }}
                    </div>
                    <br>

                    {{ form_errors(form.plainPassword.second) }}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        {{ form_widget(form.plainPassword.second, {'attr' : {'class' : 'form-control', 'placeholder' : 'Пароль ещё раз'}}) }}
                    </div>
                    <br>

                    <input type="submit" id="_submit" name="_submit" value="Зарегистрироваться" class="btn btn-lg btn-success btn-block"/>
                    <a class="btn btn-lg btn-primary btn-block" href="{{ path('hwi_oauth_service_redirect', {'service' : 'facebook'}) }}">Войти через Facebook</a>
                {{ form_widget(form) }}

                {{ form_end(form) }}
            </div>
        </div>


    </div>
</div>

