{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 text-xs-center">
            <h1>Список юзеров</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-xs-1">#</th>
                    <th class="col-xs-9">Название</th>
                    <th class="col-xs-2">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="col-xs-1"><a href="{{ path('fos_user_profile_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                        <td class="col-xs-9">{{ user.name }} {{ user.secondName }}</td>
                        <td class="col-xs-2">
                            <div class="btn-group" role="group" >
                                <a href="{{ path('fos_user_profile_show', { 'id': user.id }) }}" class="btn btn-primary">Посмотреть</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xs-2"></div>
    </div>
{% endblock %}
