{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="omb_login">
        <h3 class="omb_authTitle">Редактирование профиля</h3>


        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
                {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit omb_loginForm' } }) }}


                    {{ form_errors(form.username) }}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user "></i></span>
                        {{ form_widget(form.username, {'attr' : {'class' : 'form-control', 'placeholder' : 'Логин'}}) }}
                    </div>
                    <br>

                    {{ form_errors(form.email) }}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        {{ form_widget(form.email, {'attr' : {'class' : 'form-control', 'placeholder' : 'E-mail'}}) }}
                    </div>
                    <br>

                    {{ form_errors(form.name) }}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        {{ form_widget(form.name, {'attr' : {'class' : 'form-control', 'placeholder' : 'Имя'}}) }}
                    </div>
                    <br>

                    {{ form_errors(form.second_name) }}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        {{ form_widget(form.second_name, {'attr' : {'class' : 'form-control', 'placeholder' : 'Фамилия'}}) }}
                    </div>
                    <br>

                    <input type="submit" id="_submit" name="_submit" value="Сохранить" class="btn btn-lg btn-success btn-block"/>
                    {{ form_widget(form) }}

                {{ form_end(form) }}
            </div>
        </div>


    </div>
</div>

